<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  
  <filter>
        <filter-name>UserAuthenticationFilter</filter-name>
        <filter-class>webapplication.UserAuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserAuthenticationFilter</filter-name>
        <url-pattern>/display/*</url-pattern>
        <url-pattern>/deposit/*</url-pattern>
        <url-pattern>/update/*</url-pattern>
        <url-pattern>/edit/*</url-pattern>
        <url-pattern>/transactionhistory/*</url-pattern>
        <url-pattern>/transfer/*</url-pattern>
        <url-pattern>/userlogout/*</url-pattern>
         <url-pattern>/withdraw/*</url-pattern>
    </filter-mapping>
  <filter>
        <filter-name>ManagerAuthenticationFilter</filter-name>
        <filter-class>webapplication.ManagerAuthenticationFilter</filter-class>
  </filter>
    <filter-mapping>
        <filter-name>ManagerAuthenticationFilter</filter-name>
         <url-pattern>/delete/*</url-pattern>
          <url-pattern>/create/*</url-pattern>
         <url-pattern>/managerlogout/*</url-pattern>
     </filter-mapping>
</web-app>
